.card-container {
    grid-template-columns: repeat(auto-fit, minmax(calc(100% - 10px), 1fr));
}

.card big-img img {
    border-radius: 10px;
    max-width: 100%;
    max-height: auto;
    border-bottom: none;
}
